*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}


.test{
    font-size: 400px;
    background: url(https://media0.giphy.com/media/7zfZ5zYtnzFUunCMJB/giphy.gif?cid=ecf05e47h5ygzmxmiom0dq0ftzwzjltsu3u9ugmzehkgidb9&rid=giphy.gif&ct=g);
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
  
  font-weight: bold;
  font-family: sans-serif;
}

.firstSection{
    height: 100vh;
    width: 100%;
    background-image: url(./coverPic.jpg);
    background-size: cover;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.secondSection{
    height: 100vh;
    background-color: chocolate;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./gev.jpg');
    background-size: cover;

}


.firstPic{
  
    width: 540px;
    height: 400px;
}

.secondPic{
    
    
    width: 540px;
    height: 400px;
}

.forthPic{
    width: 540px;
    height: 400px; 
}
.pics{
   display: flex;
   justify-content: center;
   padding: 20px;
}

.firstPic, .secondPic, .forthPic{
    padding: 15px;
}
.thirdPic{
    width: 100%;
}

.thirdSection{
    height: 60vh;
    background-color: rgb(0, 183, 255);
    color: rgb(0, 0, 0);
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;

}

.raftingSvg{
    position: relative;
    top: 120px;
    width: 300px;
    height: 300px;
  
}

.forthSection{
    height: 200vh;
    background-color: rgb(0, 137, 250);
}
